.main_block
	width 50%!important

.sections_block
	overflow scroll!important
	justify-content flex-start!important
	-webkit-overflow-scrolling: touch
	.section_item
		border-top none!important
		flex-direction column!important
		&:first-child
			display none!important
		&:nth-child(2) .column:first-child
			border-top none!important
		.column
			width 100%!important
			margin-bottom 0!important
			flex-grow 0!important
			overflow visible!important
			min-height initial!important
			border-right none!important
			border-top 1px solid rgb(238, 56, 49)
			&.none
				display none!important
			.column_title
				cursor auto!important
			.column_body
				display block!important
				flex-grow 0!important
				min-height initial!important
				&.photos
					padding 20px!important
					.swiper-photos
						position relative!important
						.swiper-wrapper
							.swiper-slide
								width 100%!important
								padding-top 100%!important
								border-top 0px solid transparent!important
								border-bottom 60px solid transparent!important
						.swiper-pagination
							bottom 0!important
		&.active
			overflow visible!important
			min-height initial!important

