body, html
	p
		text-indent 50px!important

.outer_block
	.header_block
		padding 15px!important
		background-color white
		position fixed!important
		top 0!important
		width 100%!important
		z-index 999!important
		.header_inner
			animation marquee 5s linear infinite!important
			.header_marquee span
				&.mobile
					display none!important
				&:after
					margin-right 80px!important
					margin-left 80px!important
	.content_block
		margin-top 60px!important
		display block!important
		height 100%!important
		.main_block
			position relative
			display block!important
			width 100%!important
			height calc(100% - 48px)!important
			border-right none!important
			border-bottom 1px solid rgb(238, 56, 49)
			.main_title
				padding 15px!important
				position fixed!important
				width 100%!important
				top 58px
				display block!important
				box-sizing border-box
				background-color white
				z-index 99!important
				&.fix
					position absolute!important
			.main_desc
				padding 15px!important
				position absolute!important
				width 100%!important
				bottom 0px!important
				box-sizing border-box
			.main_footer
				padding 15px!important
				position fixed!important
				bottom 0!important
				width 100%!important
				background-color white
				z-index 999!important
		.sections_block
			width 100%!important
			padding-bottom 50px!important
			.column
				width 100%!important
				.column_title
					padding 15px!important
					span.num
						margin-right 30px!important
				.column_body
					padding 15px!important
					&.photos
						.swiper-photos
							position relative!important
							.swiper-wrapper
								.swiper-slide
									border-top 0px solid transparent!important
									border-bottom 40px solid transparent!important

