.main_block {
  width: 50% !important;
}
.sections_block {
  overflow: scroll !important;
  justify-content: flex-start !important;
  -webkit-overflow-scrolling: touch;
}
.sections_block .section_item {
  border-top: none !important;
  flex-direction: column !important;
}
.sections_block .section_item:first-child {
  display: none !important;
}
.sections_block .section_item:nth-child(2) .column:first-child {
  border-top: none !important;
}
.sections_block .section_item .column {
  width: 100% !important;
  margin-bottom: 0 !important;
  flex-grow: 0 !important;
  overflow: visible !important;
  min-height: initial !important;
  border-right: none !important;
  border-top: 1px solid #ee3831;
}
.sections_block .section_item .column.none {
  display: none !important;
}
.sections_block .section_item .column .column_title {
  cursor: auto !important;
}
.sections_block .section_item .column .column_body {
  display: block !important;
  flex-grow: 0 !important;
  min-height: initial !important;
}
.sections_block .section_item .column .column_body.photos {
  padding: 20px !important;
}
.sections_block .section_item .column .column_body.photos .swiper-photos {
  position: relative !important;
}
.sections_block .section_item .column .column_body.photos .swiper-photos .swiper-wrapper .swiper-slide {
  width: 100% !important;
  padding-top: 100% !important;
}
.sections_block .section_item .column .column_body.photos .swiper-photos .swiper-pagination {
  bottom: 0 !important;
}
.sections_block .section_item.active {
  overflow: visible !important;
  min-height: initial !important;
}
