p {
  margin: 0;
  padding: 0;
}
.content_block {
  padding: 20px;
  padding-top: 80px;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 12pt;
  line-height: 18pt;
}
.columns_block {
  overflow: hidden;
}
.columns_block .column {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.columns_block .column.left {
  padding-right: 20px;
}
.columns_block .column.right {
  padding-left: 20px;
}
.section_block {
  margin-bottom: 80px;
}
.section_block .section_title {
  margin-bottom: 40px;
  font-size: 26pt;
  line-height: 28pt;
}
.section_block .section_content {
  overflow: hidden;
}
.section_block.team {
  margin-bottom: 40px;
}
.section_block.team .section_content {
  margin-left: -20px;
  margin-right: -20px;
}
.section_block.team .member_item {
  float: left;
  width: 14.285714286%;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}
.section_block.team .member_item.out {
  opacity: 0.5;
}
.section_block.team .member_item .project_num {
  margin-right: 7px;
  color: #000;
  text-decoration: none;
}
.section_block.team .member_item .project_num:after {
  content: ',';
}
.section_block.team .member_item .project_num:last-child:after {
  content: '';
}
.section_block.about {
  margin-bottom: 60px;
}
.section_block.about .section_content {
  margin-bottom: 20px;
}
.section_block.contacts {
  margin-bottom: 60px;
}
.section_block.contacts .contact_item {
  float: left;
  margin-right: 40px;
  margin-bottom: 20px;
}
.section_block.geography .section_content {
  width: 100%;
  height: 500px;
  background-color: #d3d3d3;
  background-position: center;
}
.section_block.partners {
  margin-bottom: 0px;
}
.section_block.partners .section_content {
  margin-left: -10px;
  margin-right: -10px;
}
.section_block.partners .partner_item {
  width: 10%;
  height: 100px;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
}
.section_block.partners .partner_item .logo {
  width: 100%;
  height: 100%;
  background-color: #d3d3d3;
}
