html,
body {
  height: 100%;
}
.title_block {
  position: absolute;
}
.title_block a {
  color: #fff !important;
}
.title_block .search,
.title_block .logo,
.title_block .menu_open {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.footer_block {
  position: absolute;
  bottom: 0;
}
.footer_block .footer_inner {
  border-color: #fff;
}
.footer_block .footer_inner .quality_block a {
  border-color: #fff;
}
.footer_block img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
.footer_block a {
  color: #fff !important;
}
.content_block {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
}
.slider_navigate {
  position: absolute;
  bottom: 0px;
  bottom: 110px;
  font: 14pt/14pt 'PT Mono';
  color: #fff;
  left: 40px;
  z-index: 9999999999999;
}
.slider_navigate .navigate_item {
  float: left;
  margin-right: 20px;
  cursor: pointer;
}
.slider_navigate .navigate_item:hover {
  opacity: 0.7;
}
.slider_block {
  width: 100%;
  height: 100%;
  opacity: 0.85;
}
.slider_block .slide_item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.slider_block .slide_item .slide_body {
  margin-top: 160px;
  margin-left: 40px;
}
.slider_block .slide_item .slide_body .slide_title {
  max-width: 720px;
  font: 24pt/26pt 'PT Mono Bold';
}
.slider_block .slide_item .slide_body .slide_desc {
  max-width: 720px;
  margin-top: 40px;
  margin-left: 220px;
  font: 14pt/18pt 'PT Mono';
}
.slider_block .swiper-button-next {
  right: 40px;
}
.slider_block .swiper-button-prev {
  left: 40px;
}
.slider_block .swiper-pagination {
  bottom: 110px;
  left: auto !important;
  right: 40px !important;
  width: auto;
}
