html,
body,
.content_block,
.columns_block {
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.column.left::-webkit-scrollbar {
  display: none;
}
.title_block {
  width: 50%;
}
.columns_block {
  overflow: hidden;
}
.columns_block .column {
  float: left;
  width: 50%;
  height: 100%;
  overflow: scroll;
}
.columns_block .column.left .column_content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.columns_block .column.right img {
  width: 100%;
  display: block;
  margin-bottom: 40px;
}
.column_content {
  font-family: 'Helvetica Neue';
  font-size: 12pt;
  line-height: 18pt;
  font-weight: bold;
  margin-top: 140px;
}
.column_content .one {
  -webkit-column-count: 1;
          column-count: 1;
}
.column_content .two {
  -webkit-column-count: 2;
          column-count: 2;
}
.column_content .three {
  -webkit-column-count: 3;
          column-count: 3;
}
.column_intro {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.column_intro .intro_title {
  font-family: 'Helvetica Neue';
  font-size: 120pt;
  line-height: 120pt;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.column_intro .intro_desc {
  width: 40%;
  position: absolute;
  bottom: 40px;
  right: 20px;
  font-family: 'Helvetica Neue';
  font-size: 12pt;
  line-height: 14pt;
  font-weight: bold;
  text-decoration: underline;
}
