.banner_block
	width 100%
	height 400px
	position fixed
	top 45px
	background-size cover
	background-repeat no-repeat
	z-index 0

.event_block
	position relative
	top 400px
	background-color white
	padding-bottom 80px
	.event_inner
		position relative
		z-index 999
		overflow hidden
		background-color white
		padding-bottom 20px
		.event_header
			width 100%
			background-color black
			color white
			.header_inner
				max-width 1280px
				margin 0 auto
				padding-top 5px
				padding-bottom 5px
				padding-right 20px
				padding-left 20px
				box-sizing border-box
				position relative
		.event_content
			max-width 1240px
			margin 0 auto
			position relative
			overflow hidden
			.event_title
				padding-top 30px
				padding-bottom 30px
				font 34pt/36pt 'Pragmatica'
			.event_body
				overflow hidden
				.event_body_description
					max-width 800px
					float left
					padding-right 20px
					box-sizing border-box
					p
						margin 0
						padding 0
						padding-bottom 20px
				.event_body_meta
					max-width 440px
					float left
					padding-left 20px
					box-sizing border-box
					.event_meta_item
						margin-bottom 5px
						&.date
							font-weight bold