.timeline_block {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  position: absolute;
  top: 160px;
  z-index: 999;
  height: 60px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.timeline_block.fix {
  position: fixed;
  top: 0;
}
.timeline_block .timeline_outer {
  width: 100%;
  overflow: hidden;
}
.timeline_block .timeline_inner {
  vertical-align: top;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
}
.timeline_block .timeline_inner .month_item {
  display: inline-block;
  white-space: nowrap;
  border-right: 1px solid #000;
  padding-right: 40px;
  padding-left: 40px;
  position: relative;
  opacity: 0.4;
}
.timeline_block .timeline_inner .month_item .month_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.timeline_block .timeline_inner .month_item .month_placeholder.hide {
  display: none;
}
.timeline_block .timeline_inner .month_item:hover {
  opacity: 1;
}
.timeline_block .timeline_inner .month_item.selected {
  opacity: 1;
  background-color: #f7f7f7;
}
.timeline_block .timeline_inner .month_item.selected .day_item:hover {
  color: #fff;
  background-color: #000;
}
.timeline_block .timeline_inner .month_item:last-child {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
  padding-right: 40px;
}
.timeline_block .timeline_inner .month_item .day_item {
  display: inline-block;
  white-space: nowrap;
  margin-right: 5px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.timeline_block .timeline_inner .month_item .day_item.weekend {
  color: #e25241;
}
.timeline_block .timeline_inner .month_item .day_item.selected {
  color: #fff;
  background-color: #000;
}
.timeline_block .timeline_inner .month_item .day_item:last-child {
  margin-right: 0;
}
.timeline_block .timeline_inner .month_item .day_item .day_date {
  margin-bottom: 6px;
  text-align: center;
  font: 10pt/12pt 'PT Mono Bold';
}
.timeline_block .timeline_inner .month_item .day_item .day_week {
  font: 10pt/12pt 'PT Mono';
}
.events_block {
  max-width: 960px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 100px auto;
}
.events_title {
  margin-bottom: 80px;
  font: 16pt/18pt 'PT Mono Bold';
}
.events_title .current_month {
  display: inline-block;
}
.events_title .select_month {
  cursor: pointer;
  content: '';
  z-index: 0;
  position: relative;
  background-image: url("../img/icons/arrow_list.svg");
  width: 8px;
  height: 8px;
  display: inline-block;
  vertical-align: middle;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.events_title .select_month.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.events_list .event_item {
  overflow: hidden;
  margin-bottom: 80px;
}
.events_list .event_item .event_poster {
  width: 50%;
  height: 340px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}
.events_list .event_item .event_body {
  width: 50%;
  float: left;
  padding-left: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 12pt/14pt 'PT Mono';
}
.events_list .event_item .event_body .event_head,
.events_list .event_item .event_body .event_meta {
  overflow: hidden;
}
.events_list .event_item .event_body .event_date {
  float: left;
  font: 14pt/16pt 'PT Mono';
}
.events_list .event_item .event_body .event_ticket {
  float: right;
  font: 14pt/16pt 'PT Mono Bold';
  cursor: pointer;
}
.events_list .event_item .event_body .event_ticket:after {
  content: '';
  z-index: 0;
  position: relative;
  background-image: url("../img/icons/arrow_list.svg");
  width: 8px;
  height: 8px;
  margin-left: 15px;
  display: inline-block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  vertical-align: middle;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.events_list .event_item .event_body .event_title {
  margin-top: 20px;
  margin-bottom: 40px;
  font: 22pt/24pt 'PT Mono Bold';
}
.events_list .event_item .event_body .event_age {
  font: 12pt/14pt 'PT Mono Bold';
  float: left;
}
.events_list .event_item .event_body .event_age:after {
  content: '+';
}
.events_list .event_item .event_body .event_members {
  float: left;
  margin-left: 60px;
}
.events_list .event_item .event_body .event_members .members_title {
  font: 12pt/14pt 'PT Mono Bold';
}
.events_list .event_item .event_body .event_members .item {
  display: block;
  text-decoration: none;
  color: #000;
  margin-top: 5px;
}
.events_list .event_item .event_body .event_members .item:hover {
  opacity: 0.7;
}
.events_list .event_item .event_body .event_description {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font: 14pt/22pt 'PT Serif';
  clear: both;
  margin-top: 40px;
}
