@font-face {
	font-family: 'PT Serif';
	src: url('../fonts/PTF55F_W.woff');
}

@font-face {
	font-family: 'PT Serif Bold';
	src: url('../fonts/PTF75F_W.woff');
}

@font-face {
	font-family: 'PT Mono';
	src: url('../fonts/PTM55F_W.woff');
}

@font-face {
	font-family: 'PT Mono Bold';
	src: url('../fonts/PTM75F_W.woff');
}