body
	margin 0
	padding 0
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

.title_block
	width 100%
	position absolute
	padding 20px
	box-sizing border-box
	z-index 9999

.logo_block
	float left
	color black
	text-decoration none
	font-family 'Helvetica Neue'
	font-weight bold
	font-size 14pt
	line-height 16pt

.menu_block
	float right
	a
		font-family 'Helvetica Neue'
		font-weight bold
		font-size 14pt
		line-height 16pt
		display block
		text-decoration underline
		color black
		text-align right