body {
  margin: 0;
}
.content_block {
  padding: 20px;
  padding-top: 60px;
}
.title_projects,
.title_directions {
  text-align: center;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 12pt;
  line-height: 18pt;
}
.title_directions {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
}
.title_projects {
  margin-top: 20px;
  margin-bottom: 20px;
}
.directions {
  text-align: justify;
}
.directions:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.directions .d_item {
  margin-right: 40px;
  display: inline-block;
  font-family: 'Helvetica Neue';
  font-size: 120pt;
  line-height: 120pt;
  font-weight: bold;
}
.directions .d_item:last-child {
  margin-right: 0;
}
.directions .d_item a {
  text-decoration: none;
  color: #000;
}
.directions .d_item.hover a {
  color: #d3d3d3;
}
.directions .d_item:hover a {
  text-decoration: underline;
}
.projects {
  text-align: left;
}
.projects .p_item {
  display: inline;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 14pt;
  line-height: 22pt;
  margin-right: 15px;
}
.projects .p_item a {
  text-decoration: none;
  color: #000;
}
.projects .p_item a:hover {
  border-bottom: 2px solid #000;
}
.projects .p_item a .num {
  font-size: 12pt;
  padding-right: 15px;
}
.projects .p_item.hover a {
  color: #d3d3d3;
}
