body {
  margin: 0;
}
.content_block {
  padding: 20px;
  padding-top: 140px;
}
.directions {
  text-align: justify;
}
.directions:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.directions .d_item {
  display: inline-block;
  font-family: 'Helvetica Neue';
  font-size: 10.5vw;
  line-height: 10.5vw;
  font-weight: bold;
}
.directions .d_item a {
  text-decoration: none;
  color: #000;
}
.directions .d_item.hover a {
  color: #d3d3d3;
}
.directions .d_item:hover a {
  text-decoration: underline;
}
.projects {
  text-align: left;
}
.projects .p_item {
  display: inline;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 12pt;
  line-height: 18pt;
}
.projects .p_item a {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
}
.projects .p_item a:hover {
  border-bottom: 2px solid #000;
}
.projects .p_item a .num {
  padding-right: 10px;
}
.projects .p_item.select a {
  color: #808080;
}
.projects .p_item.hover a {
  color: #d3d3d3;
}
