video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-enclosure {
  display: none !important;
}
html,
body {
  margin: 0;
  padding: 0;
}
html,
body,
.content-block,
.content-item,
.content-inner {
  height: 100%;
}
p {
  margin: 0;
  padding: 0;
}
.menu-block {
  top: 0;
  position: fixed;
  z-index: 9999999;
}
.menu-block .menu-items {
  width: 60px;
  height: 60px;
  position: absolute;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.menu-block .menu-items.fill {
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  background-color: #000;
}
.menu-block .menu-items.main {
  left: 0;
}
.menu-block .menu-items.main:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  border-bottom: 17px double #867550;
  border-top: 6px solid #867550;
  content: '';
  height: 5px;
  width: 30px;
  float: left;
}
.menu-block .menu-items.main:hover {
  background-color: #867550;
}
.menu-block .menu-items.main:hover:after {
  border-color: #000;
}
.menu-block .menu-items.main:hover .menu-drop {
  display: block;
}
.menu-block .menu-items.main .menu-drop {
  display: none;
  left: 60px;
  position: absolute;
  box-sizing: border-box;
  background-color: #000;
  width: 170px;
}
.menu-block .menu-items.main .menu-drop .menu-item {
  padding: 10px;
  text-transform: uppercase;
  display: block;
  color: #867550;
  cursor: default;
}
.menu-block .menu-items.main .menu-drop .menu-item:hover {
  background-color: #867550;
  color: #000;
}
.menu-block .menu-items.locale {
  display: block;
  top: 60px;
  left: 0;
  font-size: 22pt;
  padding-top: 8pt;
  font-weight: bold;
  box-sizing: border-box;
  color: #867550;
  text-decoration: none;
  text-align: center;
}
.menu-block .menu-items.locale:hover {
  background-color: #867550;
  color: #000;
}
.content-block {
  width: 100%;
}
.content-block .content-footer {
  background-color: #000;
  width: 100%;
  position: relative;
  color: #867550;
}
.content-block .content-footer .footer-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
  padding-bottom: 60px;
  border-top: 5px solid #867550;
}
.content-block .content-footer .footer-inner:before,
.content-block .content-footer .footer-inner:after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: #000;
  position: absolute;
  top: 0;
}
.content-block .content-footer .footer-inner:before {
  left: 33.333%;
}
.content-block .content-footer .footer-inner:after {
  left: 66.333%;
}
.content-block .content-footer .footer-inner .footer-desc {
  overflow: hidden;
}
.content-block .content-footer .footer-inner .footer-desc a {
  text-decoration: none;
  color: #867550;
}
.content-block .content-footer .footer-inner .footer-desc a:hover {
  color: #fff;
}
.content-block .content-footer .footer-inner .footer-desc.left {
  float: left;
}
.content-block .content-footer .footer-inner .footer-desc.right {
  float: right;
}
.content-block .content-item {
  width: 100%;
  background-color: #d3d3d3;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.content-block .content-item .content-inner {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}
.content-block .content-item .content-inner .content-title {
  font-size: 24pt;
  color: #867550;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-bottom: 40px;
  max-width: 320px;
}
.content-block .content-item .content-inner .content-title:hover span {
  cursor: default;
  background-color: #fff;
  color: #867550;
}
.content-block .content-item .content-inner .content-title span {
  display: inline-block;
  background-color: #000;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -5px;
  margin-bottom: 3px;
}
.content-block .content-item.video {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 0;
  background-color: #000;
}
.content-block .content-item.video video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.content-block .content-item.video video.hidden {
  display: none;
}
.content-block .content-item.main {
  background-color: transparent;
}
.content-block .content-item.main .logo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60%;
  display: block;
  position: absolute;
  z-index: 1;
}
.content-block .content-item.main .content-partners {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.content-block .content-item.main .content-partners a {
  float: left;
}
.content-block .content-item.main .content-partners a span {
  width: 60px;
  height: 60px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.content-block .content-item.main .content-partners .mkrf {
  display: block;
  background-color: #fff;
}
.content-block .content-item.main .content-partners .mkrf span {
  background-size: 80%;
}
.content-block .content-item.main .content-partners .cult_mos {
  background-color: #f00;
}
.content-block .content-item.main .content-partners .manege {
  background-color: #000;
}
.content-block .content-item.main .content-partners .manege span {
  background-size: 80%;
}
.content-block .content-item.heads .content-inner {
  max-width: none;
  width: 100%;
  padding: 0;
}
.content-block .content-item.heads .content-inner .head-item {
  width: 40%;
  min-width: 440px;
  max-width: 640px;
  padding: 40px;
  padding-right: 60px;
  padding-left: 55px;
  box-sizing: border-box;
  border-right: 5px solid #000;
  cursor: default;
}
.content-block .content-item.heads .content-inner .head-item:first-child {
  padding-left: 60px;
  border-left: 5px solid #000;
}
.content-block .content-item.heads .content-inner .head-item:after {
  content: '';
  width: 100%;
  height: 10px;
  top: 50%;
  left: 0;
  position: absolute;
  z-index: 0;
  margin-left: -5px;
  border-left: 5px solid #d3d3d3;
  border-right: 5px solid #d3d3d3;
}
.content-block .content-item.heads .content-inner .head-item .head-name {
  color: #fff;
  font-size: 24pt;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  max-width: 320px;
}
.content-block .content-item.heads .content-inner .head-item .head-name:hover span {
  cursor: default;
  background-color: #fff;
  color: #867550;
}
.content-block .content-item.heads .content-inner .head-item .head-name span {
  display: inline-block;
  background-color: #867550;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: -5px;
  margin-bottom: 3px;
}
.content-block .content-item.heads .content-inner .head-item .head-status {
  margin-top: 5px;
  color: #000;
  font-size: 10pt;
  line-height: 12pt;
  max-width: 320px;
  text-transform: uppercase;
  color: #867550;
}
.content-block .content-item.heads .content-inner .head-item .head-quote {
  font-size: 14pt;
  line-height: 18pt;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.content-block .content-item.heads .content-inner .head-item .head-quote:before {
  font-size: 62pt;
  line-height: 62pt;
  content: '«';
  margin-left: -40px;
  display: block;
}
.content-block .content-item.heads .content-inner .head-item .head-quote:after {
  display: block;
  font-size: 62pt;
  line-height: 62pt;
  content: '»';
  position: absolute;
  left: 100%;
}
.content-block .content-item.plan .content-inner {
  height: 0;
  position: relative;
  z-index: 999;
}
.content-block .content-item.plan .content-inner .content-title {
  position: absolute;
  top: 40px;
  z-index: 99;
}
.content-block .content-item.plan .content-inner .content-preview-image {
  display: none;
  top: 40px;
  max-width: 1280px;
  padding-right: 380px;
  height: 580px;
  position: relative;
  background-color: #000;
  box-sizing: border-box;
}
.content-block .content-item.plan .content-inner .content-preview-image .preview-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: move;
}
.content-block .content-item.plan .content-inner .content-preview-image .preview-inner img {
  position: absolute;
}
.content-block .content-item.plan .content-inner .content-preview-image:hover:after {
  content: '‑';
  position: absolute;
  width: 40px;
  height: 40px;
  left: 10px;
  bottom: 10px;
  border-radius: 40px;
  background-color: #867550;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 40px;
}
.content-block .content-item.plan .content-inner .content-preview-image.active {
  display: block;
}
.content-block .content-item.plan .content-inner .content-preview-column {
  display: none;
  margin-top: 40px;
  width: 100%;
  max-width: 380px;
  position: absolute;
  right: 40px;
  top: 0;
}
.content-block .content-item.plan .content-inner .content-preview-column.active {
  display: block;
}
.content-block .content-item.plan .content-inner .content-preview-column.open {
  position: relative;
  max-width: none;
  left: 0;
  right: 0;
}
.content-block .content-item.plan .content-inner .content-preview-column.open .preview-body {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.content-block .content-item.plan .content-inner .content-preview-column.open .preview-title {
  font-size: 24pt;
}
.content-block .content-item.plan .content-inner .content-preview-column.open .preview-description {
  -webkit-columns: 4 320px;
     -moz-columns: 4 320px;
          columns: 4 320px;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  -webkit-column-rule: 5px solid #000;
     -moz-column-rule: 5px solid #000;
          column-rule: 5px solid #000;
  margin-bottom: 20px;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images {
  background-color: rgba(0,0,0,0.8);
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .preview-image {
  max-width: 430px;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .swiper-button-prev,
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .swiper-button-next {
  top: auto !important;
  bottom: 10px !important;
  background-image: none !important;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #867550;
  text-align: center;
  font-size: 20px;
  padding-top: 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: default;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .swiper-button-prev:after {
  content: '❮';
  padding-right: 2px;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .swiper-button-next:after {
  content: '❯';
  padding-left: 2px;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .swiper-slide {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-images .swiper-slide:hover:after {
  content: '+';
  position: absolute;
  width: 40px;
  height: 40px;
  right: 10px;
  top: 10px;
  border-radius: 40px;
  background-color: #867550;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-body {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  overflow: hidden;
  height: 380px;
  background-color: #fff;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-body .preview-title {
  font-size: 16pt;
  line-height: 18pt;
  text-transform: uppercase;
  padding: 10px;
  padding-top: 20px;
  box-sizing: border-box;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-body .preview-description {
  padding: 10px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.content-block .content-item.plan .content-inner .content-preview-column .preview-body .preview-description p {
  margin-bottom: 20px;
}
.content-block .content-item.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #867550;
  height: auto;
}
.content-block .content-item.about .content-inner:before,
.content-block .content-item.about .content-inner:after {
  content: '';
  max-width: 1280px;
  width: 100%;
  height: 10px;
  background-color: #867550;
  position: absolute;
  z-index: 0;
}
.content-block .content-item.about .content-inner:before {
  top: 37%;
}
.content-block .content-item.about .content-inner:after {
  bottom: 33%;
}
.content-block .content-item.about .content-inner .content-columns {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-columns: 4 320px;
     -moz-columns: 4 320px;
          columns: 4 320px;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
  -webkit-column-rule: 5px solid #000;
     -moz-column-rule: 5px solid #000;
          column-rule: 5px solid #000;
  font-size: 14pt;
  line-height: 16pt;
}
.content-block .content-item.about .content-inner .content-columns img {
  z-index: 1;
  position: relative;
  width: 100%;
  display: block;
  padding-bottom: 20px;
}
.content-block .content-item.about .content-inner .content-columns p {
  background-color: #867550;
  position: relative;
  z-index: 1;
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  padding-bottom: 20px;
}
.content-block .content-item.schedule {
  padding-top: 40px;
  padding-bottom: 40px;
  height: auto;
  background-color: #d3d3d3;
}
.content-block .content-item.schedule .content-schedule {
  position: relative;
}
.content-block .content-item.schedule .content-schedule .schedule-item {
  width: 50%;
  min-height: 180px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
}
.content-block .content-item.schedule .content-schedule .schedule-item:last-child {
  margin-bottom: 0;
}
.content-block .content-item.schedule .content-schedule .schedule-item:nth-child(odd) {
  left: 0;
  border-right: 5px solid #000;
}
.content-block .content-item.schedule .content-schedule .schedule-item:nth-child(even) {
  left: 50%;
  border-left: 5px solid #000;
  margin-left: -5px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-date {
  font-size: 24pt;
  line-height: 26pt;
  padding-bottom: 20px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-event {
  padding-bottom: 20px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-event .event-title {
  text-transform: uppercase;
  font-size: 16pt;
  line-height: 18pt;
  padding-bottom: 10px;
}
.content-block .content-item.schedule .content-schedule .schedule-item .schedule-event .event-description {
  font-size: 12pt;
  line-height: 14pt;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.content-block .content-item.contacts {
  padding-top: 40px;
}
.content-block .content-item.contacts .content-inner {
  height: 0;
  position: relative;
  z-index: 999;
}
.content-block .content-item.contacts .content-inner .content-title span {
  background-color: #867550;
  color: #fff;
}
.content-block .content-item.contacts .content-inner .content-title:hover span {
  background-color: #fff;
  color: #867550;
}
.content-block .content-item.partners {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000;
  height: auto;
  color: #867550;
}
.content-block .content-item.partners .content-inner .content-partners-columns {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-column-width: 200px;
     -moz-column-width: 200px;
          column-width: 200px;
  -webkit-column-gap: 2em;
     -moz-column-gap: 2em;
          column-gap: 2em;
}
.content-block .content-item.partners .content-inner .content-partners-columns p {
  -webkit-column-break-inside: avoid;
     page-break-inside: avoid;
          break-inside: avoid;
  padding-bottom: 20px;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-pagination {
  height: 0 !important;
  margin-bottom: 20px;
}
.swiper-container .swiper-pagination-bullet-active {
  background-color: #fff;
}
#plan-canvas,
#map-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#map-canvas .info-window {
  max-width: 420px;
}
#map-canvas .info-window h2 {
  margin: 0 !important;
}
.leaflet-container {
  background-color: #000 !important;
}
.leaflet-container img {
  max-width: none !important;
  width: auto !important;
  height: auto !important;
}
