@font-face {
	font-family: 'PT Serif';
	src: url('fonts/PTF55F_W.woff');
}

@font-face {
	font-family: 'PT Serif Bold';
	src: url('fonts/PTF75F_W.woff');
}

@font-face {
	font-family: 'PT Mono';
	src: url('fonts/PTM55F_W.woff');
}

@font-face {
	font-family: 'PT Mono Bold';
	src: url('fonts/PTM75F_W.woff');
}

html
body
	margin 0
	padding 0
	font 12pt/14pt 'PT Mono'

.up_block
.down_block
	position absolute
	background-color black
	width 100%
	color white
	z-index 999
	a
		color white
		text-decoration none
		&:hover
			opacity .7

.up_block
	top 0
	.menu_block
		float left
		a
			margin-right 25px
		.logo
			margin-right 100px
	.locale_block
		float right
		a
			margin-left 8px
			&.active
				border-bottom 1px solid white
	.drop_block
		clear both
		.drop
			padding-top 10px
			display none
			a
				border-bottom 1px solid white
			.desc
				display inline
			.d_link
				margin-bottom 10px
				span
					font-size 10pt
			&.show
				display block
			.d_section
				.d_title
					margin-top 20px
					margin-bottom 10px
					&:before
						content '- '

.down_block
	bottom 0
	.title_block
		float left
	.copy_block
		float right

.up_inner
.down_inner
	padding 10px
	margin 0 auto
	max-width 1280px
	overflow hidden



.main_block
	position absolute
	width 100%
	height 100%
	left 0
	background-color grey
	cursor pointer
	.content_items
		width 100%
		height 100%
		position absolute
		.content_item
			width 100%
			height 100%
			display none
			background-size cover
			background-position center
			background-repeat no-repeat
			&.active
				display block
	.content_mask
		width 100%
		height 100%
		position absolute
		font-size 0
		.mask_item
			width 16.666666667%
			height 100%
			display inline-block
			vertical-align top
			box-sizing border-box
			border-top 39px solid transparent
			border-bottom 39px solid transparent
			&.active
				border-color white
	.content_line
		position absolute
		z-index 99
		width 1px
		height 100%
		background-color white