@font-face {
  font-family: 'ABCFavoritPro-Light';
  src: url("../fonts/ABCFavoritPro-Light-Trial.woff2");
}
@media screen and (max-width: 1280px) {
  .main_block {
    width: 50% !important;
  }
  .sections_block {
    overflow: scroll !important;
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-overflow-scrolling: touch;
  }
  .sections_block .section_item {
    border-top: none !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .sections_block .section_item:first-child {
    display: none !important;
  }
  .sections_block .section_item:nth-child(2) .column:first-child {
    border-top: none !important;
  }
  .sections_block .section_item .column {
    width: 100% !important;
    margin-bottom: 0 !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
    overflow: visible !important;
    min-height: initial !important;
    border-right: none !important;
    border-top: 1px solid #ee3831;
  }
  .sections_block .section_item .column.none {
    display: none !important;
  }
  .sections_block .section_item .column .column_title {
    cursor: auto !important;
  }
  .sections_block .section_item .column .column_body {
    display: block !important;
    -webkit-box-flex: 0 !important;
    -webkit-flex-grow: 0 !important;
        -ms-flex-positive: 0 !important;
            flex-grow: 0 !important;
    min-height: initial !important;
  }
  .sections_block .section_item .column .column_body.photos {
    padding: 0 !important;
  }
  .sections_block .section_item .column .column_body.photos .slider_block {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    overflow-x: scroll !important;
  }
  .sections_block .section_item .column .column_body.photos .slider_block .slider_inner {
    height: auto !important;
  }
  .sections_block .section_item .column .column_body.photos .slider_block .slider_inner .slide_item {
    width: 80% !important;
    height: auto !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .sections_block .section_item.active {
    overflow: visible !important;
    min-height: initial !important;
  }
}
@media screen and (max-width: 1100px) {
  body {
    font-size: 12pt !important;
    line-height: 14pt !important;
  }
  body p {
    font-size: 16pt !important;
    line-height: 16pt !important;
  }
}
@media screen and (max-width: 800px) {
  body p,
  html p {
    text-indent: 60px !important;
  }
  .outer_block .header_block {
    padding: 15px !important;
    background-color: #fff;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    z-index: 999 !important;
  }
  .outer_block .header_block .header_inner {
    -webkit-animation: marquee 5s linear infinite !important;
            animation: marquee 5s linear infinite !important;
  }
  .outer_block .header_block .header_inner .header_marquee span.mobile {
    display: none !important;
  }
  .outer_block .header_block .header_inner .header_marquee span:after {
    margin-right: 80px !important;
    margin-left: 80px !important;
  }
  .outer_block .content_block {
    margin-top: 60px !important;
    display: block !important;
    height: 100% !important;
  }
  .outer_block .content_block .main_block {
    position: relative;
    display: block !important;
    width: 100% !important;
    height: calc(100% - 48px) !important;
    border-right: none !important;
    border-bottom: 1px solid #ee3831;
  }
  .outer_block .content_block .main_block .main_title {
    padding: 15px !important;
    position: fixed !important;
    width: 100% !important;
    top: 58px;
    display: block !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #fff;
    z-index: 99 !important;
  }
  .outer_block .content_block .main_block .main_title.fix {
    position: absolute !important;
  }
  .outer_block .content_block .main_block .main_desc {
    padding: 15px !important;
    position: absolute !important;
    width: 100% !important;
    bottom: 0px !important;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .outer_block .content_block .main_block .main_footer {
    padding: 15px !important;
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    background-color: #fff;
    z-index: 999 !important;
  }
  .outer_block .content_block .sections_block {
    width: 100% !important;
    padding-bottom: 50px !important;
  }
  .outer_block .content_block .sections_block .column {
    width: 100% !important;
  }
  .outer_block .content_block .sections_block .column .column_title {
    padding: 15px !important;
  }
  .outer_block .content_block .sections_block .column .column_title span.num {
    margin-right: 30px !important;
  }
  .outer_block .content_block .sections_block .column .column_body {
    padding: 15px !important;
  }
  .outer_block .content_block .sections_block .column .column_body .logo {
    margin-left: -15px !important;
    margin-right: -15px !important;
  }
  .outer_block .content_block .sections_block .column .column_body.photos {
    padding: 0 !important;
  }
  .outer_block .content_block .sections_block .column .column_body.photos .slider_block .slider_inner .slide_item {
    border-top: 15px solid transparent !important;
    border-bottom: 15px solid transparent !important;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #ee3831;
  font-family: 'ABCFavoritPro-Light';
  font-size: 14pt;
  line-height: 16pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a,
html a {
  color: #ee3831;
}
body p,
html p {
  margin: 0;
  padding: 0;
  font-size: 22pt;
  line-height: 22pt;
  text-indent: 90px;
}
.section_item {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.section_item::-webkit-scrollbar {
  display: none;
}
.simplebar-track.simplebar-vertical {
  right: 8px;
}
.simplebar-scrollbar:before {
  background-color: #ee3831;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1 !important;
}
.outer_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.outer_block .header_block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #ee3831;
  overflow: hidden;
  padding: 20px;
  min-height: 17px;
}
.outer_block .header_block .header_inner {
  white-space: nowrap;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}
.outer_block .header_block .header_inner .header_marquee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.outer_block .header_block .header_inner .header_marquee span:after {
  margin-right: 140px;
  margin-left: 140px;
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ee3831;
}
.outer_block .content_block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 0;
}
.outer_block .content_block .main_block {
  width: 33.333333333333336%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #ee3831;
}
.outer_block .content_block .main_block .main_title {
  margin-bottom: auto;
  padding: 20px;
}
.outer_block .content_block .main_block .main_title img {
  display: block;
  width: 100%;
}
.outer_block .content_block .main_block .main_desc {
  padding: 20px;
}
.outer_block .content_block .main_block .main_footer {
  padding: 20px;
  border-top: 1px solid #ee3831;
}
.outer_block .content_block .sections_block {
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.outer_block .content_block .sections_block .section_item {
  width: 100%;
  border-top: 1px solid #ee3831;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.outer_block .content_block .sections_block .section_item:first-child {
  border-top: none;
}
.outer_block .content_block .sections_block .section_item .column {
  width: 50%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 0;
  border-right: 1px solid #ee3831;
  overflow: hidden;
}
.outer_block .content_block .sections_block .section_item .column:last-child {
  border-right: none;
}
.outer_block .content_block .sections_block .section_item .column.none {
  cursor: pointer;
  position: relative;
}
.outer_block .content_block .sections_block .section_item .column.none svg {
  width: 100%;
  height: 100%;
  position: absolute;
}
.outer_block .content_block .sections_block .section_item .column.none svg line {
  stroke: #ee3831;
  stroke-width: 0.7;
}
.outer_block .content_block .sections_block .section_item .column .column_title {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.outer_block .content_block .sections_block .section_item .column .column_title span,
.outer_block .content_block .sections_block .section_item .column .column_title a {
  margin-right: auto;
}
.outer_block .content_block .sections_block .section_item .column .column_title span.clear,
.outer_block .content_block .sections_block .section_item .column .column_title a.clear {
  display: none;
  margin-right: auto;
}
.outer_block .content_block .sections_block .section_item .column .column_title span.dl,
.outer_block .content_block .sections_block .section_item .column .column_title a.dl {
  display: none;
  margin-right: 60px;
}
.outer_block .content_block .sections_block .section_item .column .column_title span.num,
.outer_block .content_block .sections_block .section_item .column .column_title a.num {
  min-width: 30px;
  margin-right: 60px;
}
.outer_block .content_block .sections_block .section_item .column .column_title:after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #ee3831;
}
.outer_block .content_block .sections_block .section_item .column .column_body {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
}
.outer_block .content_block .sections_block .section_item .column .column_body .logo {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  background-color: #ee3831;
  padding: 15px;
}
.outer_block .content_block .sections_block .section_item .column .column_body .logo img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}
.outer_block .content_block .sections_block .section_item .column .column_body.photos {
  position: relative;
  padding: 0;
}
.outer_block .content_block .sections_block .section_item .column .column_body.photos .slider_block {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  width: 100%;
  height: 100%;
  cursor: ew-resize;
}
.outer_block .content_block .sections_block .section_item .column .column_body.photos .slider_block .slider_inner {
  height: 100%;
}
.outer_block .content_block .sections_block .section_item .column .column_body.photos .slider_block .slider_inner .slide_item {
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  padding-top: calc(15vh - 120px);
  padding-bottom: calc(15vh - 100px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.outer_block .content_block .sections_block .section_item .column .column_body.draw {
  padding: 0;
  overflow: hidden;
}
.outer_block .content_block .sections_block .section_item .column .column_body.draw canvas {
  cursor: url("../img/icons/cursor.svg") 15 25, auto;
}
.outer_block .content_block .sections_block .section_item.active {
  margin-bottom: auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 0;
  overflow: scroll;
}
.outer_block .content_block .sections_block .section_item.active .column {
  cursor: auto;
}
.outer_block .content_block .sections_block .section_item.active .column_title {
  cursor: auto;
}
.outer_block .content_block .sections_block .section_item.active .column_title a.dl,
.outer_block .content_block .sections_block .section_item.active .column_title a.clear {
  display: inline;
}
.outer_block .content_block .sections_block .section_item.active .column_body {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 0;
}
@-webkit-keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
