.content_block {
  padding: 20px;
  padding-top: 80px;
}
.column {
  width: 50%;
}
.column.left {
  left: 0;
  position: absolute;
}
.column.right {
  right: 0;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.project_title {
  font-family: 'Helvetica Neue';
  font-size: 32pt;
  line-height: 42pt;
  font-weight: bold;
}
.project_title .num {
  margin-right: 60px;
}
.project_title .title {
  border-bottom: 4px solid #000;
}
.project_meta {
  font-family: 'Helvetica Neue';
  font-size: 12pt;
  line-height: 18pt;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
}
.project_meta .meta_item {
  width: 50%;
  float: left;
}
.project_meta .meta_item .item_title {
  vertical-align: top;
  display: inline-block;
  width: 30%;
}
.project_meta .meta_item .item_title span {
  border-bottom: 2px solid #000;
}
.project_meta .meta_item .item_value {
  vertical-align: top;
  width: 60%;
  display: inline-block;
}
.project_meta .meta_item .item_value span {
  border-bottom: 2px solid #000;
}
.project_description {
  font-family: 'Helvetica Neue';
  font-size: 14pt;
  line-height: 18pt;
  font-weight: bold;
}
.project_images {
  margin-bottom: 60px;
  overflow: hidden;
}
.project_images .image {
  margin-bottom: 40px;
  font-size: 0;
  position: relative;
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.project_images .image.x2 {
  width: 50%;
}
.project_images .image.x3 {
  width: 33.333333333%;
}
.project_images .title {
  font-family: 'Helvetica Neue';
  font-size: 12pt;
  line-height: 14pt;
  margin-top: 20px;
}
.project_images img {
  width: 100%;
}
