- var members = [{ 'name': 'Анна Кайдановская', 'role': 'Архитектор' }, { 'name': 'Екатерина Юрченко', 'role': 'Архитектор' }, { 'name': 'Алина Саулова', 'role': 'Дизайнер' }, { 'name': 'Вася Кондрашов', 'role': 'Дизайнер' }, { 'name': 'Даша Браженко', 'role': 'Дизайнер' }, { 'name': 'Андрей Паршиков', 'role': 'Куратор' }, { 'name': 'Петр Толпин', 'role': 'Куратор' }, { 'name': 'Елена Ливицкая', 'role': 'Куратор' }, { 'name': 'Анна Кайдановская', 'role': 'Архитектор' }, { 'name': 'Екатерина Юрченко', 'role': 'Архитектор' }, { 'name': 'Алина Саулова', 'role': 'Дизайнер' }, { 'name': 'Вася Кондрашов', 'role': 'Дизайнер' }, { 'name': 'Даша Браженко', 'role': 'Дизайнер' }, { 'name': 'Андрей Паршиков', 'role': 'Куратор' }, { 'name': 'Петр Толпин', 'role': 'Куратор' }, { 'name': 'Елена Ливицкая', 'role': 'Куратор' }, { 'name': 'Анна Кайдановская', 'role': 'Архитектор' }, { 'name': 'Екатерина Юрченко', 'role': 'Архитектор' }, { 'name': 'Алина Саулова', 'role': 'Дизайнер' }, { 'name': 'Вася Кондрашов', 'role': 'Дизайнер' }, { 'name': 'Даша Браженко', 'role': 'Дизайнер' }, { 'name': 'Андрей Паршиков', 'role': 'Куратор' }, { 'name': 'Петр Толпин', 'role': 'Куратор' }, { 'name': 'Елена Ливицкая', 'role': 'Куратор' }, { 'name': 'Анна Кайдановская', 'role': 'Архитектор' }, { 'name': 'Екатерина Юрченко', 'role': 'Архитектор' }, { 'name': 'Алина Саулова', 'role': 'Дизайнер' }, { 'name': 'Вася Кондрашов', 'role': 'Дизайнер' }, { 'name': 'Даша Браженко', 'role': 'Дизайнер' }, { 'name': 'Андрей Паршиков', 'role': 'Куратор' }, { 'name': 'Петр Толпин', 'role': 'Куратор' }, { 'name': 'Елена Ливицкая', 'role': 'Куратор' }, { 'name': 'Анна Кайдановская', 'role': 'Архитектор' }, { 'name': 'Екатерина Юрченко', 'role': 'Архитектор' }, { 'name': 'Алина Саулова', 'role': 'Дизайнер' }, { 'name': 'Вася Кондрашов', 'role': 'Дизайнер' }, { 'name': 'Даша Браженко', 'role': 'Дизайнер' }, { 'name': 'Андрей Паршиков', 'role': 'Куратор' }, { 'name': 'Петр Толпин', 'role': 'Куратор' }, { 'name': 'Елена Ливицкая', 'role': 'Куратор' }, ]

//- var members = [
//- 	{ 'name': 'Анна Кайдановская', 'role': 'Архитектор' },
//- 	{ 'name': 'Екатерина Юрченко', 'role': 'Архитектор' },
//- 	{ 'name': 'Алина Саулова', 'role': 'Дизайнер' },
//- 	{ 'name': 'Вася Кондрашов', 'role': 'Дизайнер' },
//- 	{ 'name': 'Даша Браженко', 'role': 'Дизайнер' },
//- 	{ 'name': 'Андрей Паршиков', 'role': 'Куратор' },
//- 	{ 'name': 'Петр Толпин', 'role': 'Куратор' },
//- 	{ 'name': 'Елена Ливицкая', 'role': 'Куратор' },

//- 	{ 'name': 'Анна Кайдановская', 'role': 'Архитектор' },
//- 	{ 'name': 'Екатерина Юрченко', 'role': 'Архитектор' },
//- 	{ 'name': 'Алина Саулова', 'role': 'Дизайнер' },
//- 	{ 'name': 'Вася Кондрашов', 'role': 'Дизайнер' },
//- 	{ 'name': 'Даша Браженко', 'role': 'Дизайнер' },
//- 	{ 'name': 'Андрей Паршиков', 'role': 'Куратор' },
//- 	{ 'name': 'Петр Толпин', 'role': 'Куратор' },
//- 	{ 'name': 'Елена Ливицкая', 'role': 'Куратор' },

//- 	{ 'name': 'Анна Кайдановская', 'role': 'Архитектор' },
//- 	{ 'name': 'Екатерина Юрченко', 'role': 'Архитектор' },
//- 	{ 'name': 'Алина Саулова', 'role': 'Дизайнер' },
//- 	{ 'name': 'Вася Кондрашов', 'role': 'Дизайнер' },
//- 	{ 'name': 'Даша Браженко', 'role': 'Дизайнер' },
//- 	{ 'name': 'Андрей Паршиков', 'role': 'Куратор' },
//- 	{ 'name': 'Петр Толпин', 'role': 'Куратор' },
//- 	{ 'name': 'Елена Ливицкая', 'role': 'Куратор' },

//- 	{ 'name': 'Анна Кайдановская', 'role': 'Архитектор' },
//- 	{ 'name': 'Екатерина Юрченко', 'role': 'Архитектор' },
//- 	{ 'name': 'Алина Саулова', 'role': 'Дизайнер' },
//- 	{ 'name': 'Вася Кондрашов', 'role': 'Дизайнер' },
//- 	{ 'name': 'Даша Браженко', 'role': 'Дизайнер' },
//- 	{ 'name': 'Андрей Паршиков', 'role': 'Куратор' },
//- 	{ 'name': 'Петр Толпин', 'role': 'Куратор' },
//- 	{ 'name': 'Елена Ливицкая', 'role': 'Куратор' },

//- 	{ 'name': 'Анна Кайдановская', 'role': 'Архитектор' },
//- 	{ 'name': 'Екатерина Юрченко', 'role': 'Архитектор' },
//- 	{ 'name': 'Алина Саулова', 'role': 'Дизайнер' },
//- 	{ 'name': 'Вася Кондрашов', 'role': 'Дизайнер' },
//- 	{ 'name': 'Даша Браженко', 'role': 'Дизайнер' },
//- 	{ 'name': 'Андрей Паршиков', 'role': 'Куратор' },
//- 	{ 'name': 'Петр Толпин', 'role': 'Куратор' },
//- 	{ 'name': 'Елена Ливицкая', 'role': 'Куратор' },
//- ]