- var projects = ['The Museum Of Media Art', 'The concept of development of recreational infrastructure. Central Manege', 'Genius loci. From exergy to the exhibition hall. 200 years of history', 'Book. Genius loci. From exergy to the exhibition hall. 200 years of history', 'Manege. 200 years in the center of events', 'Reconstruction of the interior spaces of the Museum of Vadim Sidur', 'The concept of developmen of Vadim Sidur Museum', 'The Sculptures We Do Not See', 'Concept of of visual communication. Museum of Vadim Sidur', 'Traveling exhibition. War and Life. Vadim Sidur', 'Exhibition identity. War and Life. Vadim Sidur', 'Exhibition identity. The Sculptures We Do Not See', 'The concept of development of public space. New Manege', 'At the headquarters of victory. 1941 – 1945', 'At the headquarters of victory. 1941', '1942. At the headquarters of victory', 'Concept of visual communication 1942. At the headquarters of victory', 'Battle for Moscow. The first victory', 'Concept of visual communication Battle for Moscow. The first victory', 'Honor of the native shoulder strap. History of Cadet Corps in Russia XVIII – XXI Century 22 Exhibition identity. At the headquarters of victory. 1941', 'The builders of the new world. Comintern. 1918 – 1924', 'The concept of development. Exhibition Hall Walker and Kolkhoz Woman', 'Introduction of visual communication. The Walker and Kolkhoz Woman', 'Concept of adjoining territory. The Walker and Kolkhoz Woman', 'The Walker and Kolkhoz Woman. Personal case', 'Exhibition identity. The Walker and Kolkhoz Woman. Personal case', 'Permanent exhibition. The Walker and Kolkhoz Woman', 'Carpet art exibition', 'Looking back. Retrospective. 2015 – 1948 Nikolay Kasatkin', 'Anthology of object. Alexander and Vladimir Martirisov', 'Design of exhibition space. Kluev house', 'Zoodepo', 'Concept of visual communication. D.A. Nalbandyan museum-studio', 'Concept of education space Gostinaya', 'Concept of visual communication Gostinaya', 'Bulgakov. Two biographies', 'Concept of visual communication Bulgakov. Two biographies', '7th Moscow Biennale of Contemporary Art', 'Concept of visual communication The crown of earthly colors Boris Kustodiev', 'Overcoming', 'The museum of Central Manege', 'Masterpieces of Russian Art at the autumn auctions Sotheby»s', 'Russian art. From Borovikovsky to Kobakov', 'Russian Art: Findings and Discoveries', 'Mikhail Baryshnikov. From the cycle dance', 'Porcelain way. From antiquity to the future', 'Natella Toidze. Sculpture of colors', 'Open funds Tsaritsyno', 'Concept of visual communication MARS-ABRAU']


- var categorys = ['one', 'two', 'three', 'four', 'five', 'six', 'seven']


//- var projects = [
//- 	'The Museum Of Media Art',
//- 	'The concept of development of recreational infrastructure. Central Manege',
//- 	'Genius loci. From exergy to the exhibition hall. 200 years of history',
//- 	'Book. Genius loci. From exergy to the exhibition hall. 200 years of history',
//- 	'Manege. 200 years in the center of events',
//- 	'Reconstruction of the interior spaces of the Museum of Vadim Sidur',
//- 	'The concept of developmen of Vadim Sidur Museum',
//- 	'The Sculptures We Do Not See',
//- 	'Concept of of visual communication. Museum of Vadim Sidur',
//- 	'Traveling exhibition. War and Life. Vadim Sidur',
//- 	'Exhibition identity. War and Life. Vadim Sidur',
//- 	'Exhibition identity. The Sculptures We Do Not See',
//- 	'The concept of development of public space. New Manege',
//- 	'At the headquarters of victory. 1941 – 1945',
//- 	'At the headquarters of victory. 1941',
//- 	'1942. At the headquarters of victory',
//- 	'Concept of visual communication 1942. At the headquarters of victory',
//- 	'Battle for Moscow. The first victory',
//- 	'Concept of visual communication Battle for Moscow. The first victory',
//- 	'Honor of the native shoulder strap. History of Cadet Corps in Russia XVIII – XXI Century 22 Exhibition identity. At the headquarters of victory. 1941',
//- 	'The builders of the new world. Comintern. 1918 – 1924',
//- 	'The concept of development. Exhibition Hall Walker and Kolkhoz Woman',
//- 	'Introduction of visual communication. The Walker and Kolkhoz Woman',
//- 	'Concept of adjoining territory. The Walker and Kolkhoz Woman',
//- 	'The Walker and Kolkhoz Woman. Personal case',
//- 	'Exhibition identity. The Walker and Kolkhoz Woman. Personal case',
//- 	'Permanent exhibition. The Walker and Kolkhoz Woman',
//- 	'Carpet art exibition',
//- 	'Looking back. Retrospective. 2015 – 1948 Nikolay Kasatkin',
//- 	'Anthology of object. Alexander and Vladimir Martirisov',
//- 	'Design of exhibition space. Kluev house',
//- 	'Zoodepo',
//- 	'Concept of visual communication. D.A. Nalbandyan museum-studio',
//- 	'Concept of education space Gostinaya',
//- 	'Concept of visual communication Gostinaya',
//- 	'Bulgakov. Two biographies',
//- 	'Concept of visual communication Bulgakov. Two biographies',
//- 	'7th Moscow Biennale of Contemporary Art',
//- 	'Concept of visual communication The crown of earthly colors Boris Kustodiev',
//- 	'Overcoming',
//- 	'The museum of Central Manege',
//- 	'Masterpieces of Russian Art at the autumn auctions Sotheby»s',
//- 	'Russian art. From Borovikovsky to Kobakov',
//- 	'Russian Art: Findings and Discoveries',
//- 	'Mikhail Baryshnikov. From the cycle dance',
//- 	'Porcelain way. From antiquity to the future',
//- 	'Natella Toidze. Sculpture of colors',
//- 	'Open funds Tsaritsyno',
//- 	'Concept of visual communication MARS-ABRAU'
//- ]