each quote in new Array(5)
	.swiper-slide.head-item
		.head-name!= getDash('Александр Кибовский')
		.head-status Руководитель департамента культуры города Москвы
		.head-quote Если возьмете себестоимость постановки, включающей в себя всё — начиная от коммунальных расходов, свет в зале, охрану и заканчивая зарплатой артистов и музыкантов, которые дарят действо, — то в среднем мы дотируем 80% стоимости билета. То есть вы платите в кассу только 20% от реальной стоимости этого билета...
