//- Неразрывный дефис - &#8209;
//- Неразрывный пробел - &#160;

p Центральный музей Великой Отечественной войны 1941&#8209;1945&#160;гг.
p Всероссийское Музыкальное Объединение музыкальной культуры им. М.И. Глинки
p Государственный исторический музей
p Государственный Центральный музей современной истории России
p Государственный центральный театральный музей имени А.А. Бахрушина
p Государственный центральный музей кино
p Музей-панорама «Бородинская битва»
p Музейно-мемориальный комплекс «История танка Т-34»
p Московское объединение «Музей Москвы»
p Музей Зеленограда
p Московский Зоопарк
p Государственный музей - гуманитарный центр "Преодоление" имени Н.А. Островского
p "Музей-усадьба Останкино".
p Мультимедиа арт музей
p Центральный Пограничный музей Федеральной службы Безопасности Российской Федерации
p "Центральный музей Вооруженных Сил" Министерства обороны Российской Федерации
p Центральный музей МЧС России
p Центральный музей МВД Российской Федерации
p Музей истории медицины Первого МГМУ им. И.М. Сеченова
p Музей Государственного Академического Большого театра
p Государственный Академический Центральный театр кукол им. С.В. Образцова
p Мемориальный музей-квартира Ел. Ф. Гнесиной
p Народный музей истории Московского метрополитена
p Государственный Бородинский военно-исторический музей-заповедник
p Музейно-выставочный комплекс Московской области «Новый Иерусалим»
p Звенигородский историко-архитектурный и художественный музей
p Историко-архитектурный, художественный и археологический музей «Зарайский Кремль»
p Государственный литературно-мемориальный музей-заповедник А.П. Чехова "Мелихово"
p Государственный мемориальный музей-заповедник Д.И. Менделеева и А.А. Блока
p Серпуховский историко-художественный музей
p Государственный мемориальный музыкальный музей-заповедник П.И. Чайковского
p Музей «Огни Москвы»
p Российский Государственный военный архив
p Центральный государственный архив города Москвы
p Российский государственный архив социально-политической истории
p Региональная общественная организация «Московский Союза художников»
p Гимназия № 201 ордена Трудового Красного Знамени имени Героев Советского Союза Зои и Александра Космодемьянских
p Музейно-парковый комплекс «Северное Тушино»
p Музей истории воздушно-десантных войск филиала Федерального государственного бюджетного учреждения культуры и искусства «Центральный музей вооруженных сил Российской Федерации»
p Музей РЖД на Павелецкой
p Центральный пограничный музей Федеральной службы безопасности Российской Федерации Федеральной службы охраны Российской Федерации
p Горки Ленинские