p Сайт «Школа Опойцева» ориентирован на решение фундаментальных задач школьного и высшего физико-математического образования:
ul
	li краткое и понятное изложение предметов
	li обеспечение быстрого вхождения в дисциплину
	li понимание сути, обнажение структуры, виденье рельефа
	li преодоление психологических барьеров, мешающих обучению
	li расширение кругозора
	li вскрытие внутренних резервов
img(src='img/1.svg')
p Занятия проходят в дружественной обстановке, поднимают настроение и вселяют уверенность. Лекции и сопровождающие тексты взаимно дополняют друг друга.
p Названия разделов, как правило, говорят сами за себя, но с некоторыми – имеет смысл ознакомиться в первую очередь. Это:
ul
	li Преамбула
	li Не боги горшки обжигают
p Особое внимание стоит обратить на беседы (после прослушивания вышеназванных):
ul
	li О взаимодействии сознания с подсознанием
	li О гипнотическом вирусе
	li Стратегия и тактика
	li Великая роль игрушечных задач
img(src='img/2.svg')
p Школьные уроки сконцентрированы на обычных темах: уравнения, неравенства, функции и их графики. Серьёзное внимание уделяется текстовым задачам, моделированию. Почётные места занимают теория вероятностей и математический анализ. В геометрии и тригонометрии выделены стержневые направления. Всё это сопровождается дополнительным материалом, содействующим общему развитию. Физика излагается в расчёте на школьников и студентов первых курсов одновременно. Из построения занятий видно, что это обогащает обе стороны.
img(src='img/3.svg')
p Что касается высшей математики, то здесь предлагаются небольшие курсы с упором на освоение базисных понятий и достижение ясности в отношении взаимодействия «ингредиентов». Главное внимание уделяется дисциплинам «первого круга»:
ul
	li Дифференциальное и интегральное исчисление
	li Линейная алгебра
	li Дифференциальные уравнения
	li Теория вероятности
	li Оптимизация
p Но изложение идёт и по второму кругу вплоть до ТФКП и Топологии, в которые закладываются удобоваримые сценарии, пригодные, в том числе, для самообразования.