mixin bookItem(pref, name, post, book_id)
	a.book_item(href='http://urss.ru/cgi-bin/db.pl?lang=Ru&blang=ru&page=Book&id=' + book_id, target='_blank', rel='nofollow')
		if pref
			span.book_pref= pref
		span.book_name= name
		if post
			span.book_post= post



+bookItem(null, 'В. Босс. Интуиция и математика.', '5-е изд.', '190580')
.books_separator В. БОСС. ЛЕКЦИИ ПО МАТЕМАТИКЕ
+bookItem('том 1.', 'Анализ.', '5-е изд.', '182035')
+bookItem('том 2.', 'Дифференциальные уравнения.', '4-е изд.', '202075')
+bookItem('том 3.', 'Линейная алгебра.', '4-е изд.', '182034')
+bookItem('том 4.', 'Вероятность - Информация - Статистика.', '4-е изд.', '189770')
+bookItem('том 5.', 'Функциональный анализ.', '3-е изд.', '166484')
+bookItem('том 6.', 'Алгоритмы, логика, вычислимость. От Диофанта до Тьюринга и Геделя.', '3-е изд.', '171689')
+bookItem('том 7.', 'Оптимизация.', '4-е изд.', '194775')
+bookItem('том 8.', 'Теория групп.', '3-е изд.', '185772')
+bookItem('том 9.', 'ТФКП.', '2-е изд.', '106735')
+bookItem('том 10.', 'Перебор и эффективные алгоритмы.', '3-е изд.', '185773')
+bookItem('том 11.', 'Уравнения математической физики.', '3-е изд.', '170148')
+bookItem('том 12.', 'Контрпримеры и парадоксы.', '2-е изд. испр.', '170840')
+bookItem('том 13.', 'Топология.', '2-е изд.', '180220')
+bookItem('том 14.', 'Теория чисел.', '2-е изд.', '180201')
+bookItem('том 15.', 'Нелинейные операторы и неподвижные точки.', '2-е изд.', '180756')
+bookItem('том 16.', 'Теория множеств. От Кантора до Коэна.', '2-е изд.', '179187')
.books_separator В. БОСС. ЛЕКЦИИ ПО ТЕОРИИ УПРАВЛЕНИЯ
+bookItem('том 1.', 'Автоматическое регулирование.', '2-е изд.', '166388')
+bookItem('том 2.', 'Оптимальное управление.', null, '184301')