extends layout.jade

block content_styles
	link(rel='stylesheet', type='text/css', href='css/event.css')

block content_scripts
	script(type='text/javascript', src='js/event.js')

block content
	.banner_block(style='background-image: url(img/3.jpg);')
	.event_block: .event_inner

		.event_header: .header_inner
			| Центральный манеж

		.event_content
			.event_title
				| Музыкально-поэтическое представление «Зачарованные&nbsp;звучари»
			.event_body
				.event_body_description
					p Выставка в Новом Манеже представляет собой собрание живописи и графики ветеранов Великой Отечественной войны. Экспозиция поделена на 6 разделов, в каждом из которых представлены работы одного художника.
					p На фронтах Великой Отечественной войны сражались люди самых разных профессий: инженеры, строители, музыканты, учителя, врачи, спортсмены, писатели.  Большинство из этих специальностей не могли найти своего применения в бою, но, как только настало мирное время, люди, одержавшие Победу, вернулись к своей привычной профессиональной деятельности. Среди победителей были и живописцы.
					p Выставка в Новом Манеже объединяет творческое наследие шести живописцев, членов Московского Союза художников, которые прошли через Войну: Геннадия Федоровича Ефимочкина, Ефрема Ивановича Зверькова, Юрия Амросиевича Князева, Виктора Ивановича Макеева, Владимира Ивановича Переяславца, Александра Евгеньевича Степанка. По сути, зрителю предлагается сразу шесть персональных выставок заслуженных российских художников, каждый из которых использует свою образную систему и художественные средства. В произведениях находят отражение как глобальные процессы – история, прогресс и политические изменения, так и личная история каждого автора. Война не является универсальным источником образов, хотя и объединяет биографии всех участников выставки. В пространстве Нового Манежа представлены работы художников, созданные как в советский период, начиная с 50-х годов, так и совершенно новые.
				.event_body_meta
					.event_meta_item.type Выставка
					.event_meta_item.date 16 июля — 21 августа
					.event_meta_item.age 12+