doctype html
html
	head
		title Bird & Carrot
		meta(charset='utf-8')
		//- meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.title-block
			img.logo(src='img/design/bc-logo-01.svg')
			.title-desc
				div Bird&Carrot Studio is a London-based company which specialises in producing theatre, music and contemporary art events in the UK and internationally.
				div It was founded and is run by Artistic Director Alexandrina Markvo.
				div B&C develops collaborative projects with world famous and emerging Russian artists, and supports their freedom of artistic expression.
				div B&C creates a forum for debate and intelligent discussion. We invite the world’s sharpest minds and most exciting speakers, from the performing arts to academia, to hold talks for the general public.
		.gallery-block
			.swiper-container.swiper-container-h: .swiper-wrapper
				.swiper-slide(style='background-image: url(img/1.jpg)')
				.swiper-slide(style='background-image: url(img/2.jpg)')
				.swiper-slide(style='background-image: url(img/3.jpg)')

		.content-block

			.content-desc
				.desc-title Brodsky / Baryshnikov (U.K. Premiere)
				.desc-quote Based on the poems of Joseph Brodsky
				.desc-second
					div DIRECTED BY ALVIS HERMANIS
					div PERFORMED BY MIKHAIL BARYSHNIKOV
				.desc-body Brodsky / Baryshnikov is a one-man show based on the poems of Nobel laureate Joseph Brodsky, performed by Mikhail Baryshnikov. Conceived and directed by Alvis Hermanis, noted Latvian director of The New Riga Theatre, Brodsky / Baryshnikov is an emotional journey deep into the poet’s visceral and complex compositions. Performed in Russian, Brodsky’s mother tongue, Baryshnikov recites a selection of his long-time friend’s poignant and eloquent works. His subtle physicality transports the audience into Hermanis’ reverent imagining of Brodsky’s interior world.

			.content-booking
				.booking
					.title WHEN:
					.content May 3–6, 2017
				.booking
					.title WHERE:
					.content Apollo Theatre
				a.booking-link(href='https://www.nimaxtheatres.com/apollo-theatre/brodsky_baryshnikov', target='_blank')
					img(src='img/design/bc-booking-02.svg')

		.footer-block: .inner
			a.mail(href='mailto:info@birdandcarrot.com'): img(src='img/design/email.svg')
			span= ' '
			a.fb(href='https://www.facebook.com/birdandcarrot', target='_blank'): img(src='img/design/fb.svg')