mixin slide(num)
	- num = num + 1
	.swiper-slide
		.swiper-container.swiper-container-v: .swiper-wrapper
			.swiper-slide(style='background-image: url(img/ru/' + ('0' + num).slice(-2) + '.jpg' + ')')
			.swiper-slide(style='background-image: url(img/en/' + ('0' + num).slice(-2) + '.jpg' + ')')

doctype html
html
	head
		title S I D U R | S W I P E R
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.swiper-container.swiper-container-h: .swiper-wrapper

			each slide, i in new Array(4)
				+slide(i)

		.swiper-button-prev
		.swiper-button-next