extends layout

block content_styles
	link(rel='stylesheet', type='text/css', href='css/main.css')

block content_scripts
	script(type='text/javascript', src='js/main.js')

block content
	.directions
		.d_item.one: a(href='direction.html') Historic & Patriotic
		.d_item.two: a(href='direction.html') Manege
		.d_item.three: a(href='direction.html') Rik
		.d_item.four: a(href='direction.html') Sidur


	.projects
		include p_db/projects

		each item, i in projects
			- var category = categorys.sort(function() {return .5 - Math.random(); })
			.p_item(class=category[0])
				a(href='project.html')
					span.num= i+1
					span.title= item