mixin lectures()
	.item_lectures
		.lectures_outer
			.lectures_inner
				each lecture in new Array(8)
					a.lecture(href='#')


doctype html
html
	head
		title Школа Опойцева
		meta(charset="utf-8")
		meta(name='viewport', content='width=device-width, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='styl/global.css')
		link(rel='stylesheet', type='text/css', href='styl/mobile.css')
		link(rel='stylesheet', type='text/css', href='styl/main.css')
		script(type='text/javascript', src='js/jquery-2.1.4.min.js')
		script(type='text/javascript', src='js/global.js')
		script(type='text/javascript', src='js/main.js')
	body
		.menu_block
			.menu_inner
				.logo Школа Опойцева
				.menu_search
					input.search_input(type='text', placeholder='Поиск...')
					.search_results
				.menu_right
					a.search(href='#'): img(src='img/icons/search.svg')
					a(href='#'): img(src='img/icons/mail.svg')
					//- a(href='#'): img(src='img/icons/fb.svg')
					//- a(href='#'): img(src='img/icons/vk.svg')
				.menu_lectures
					+lectures()
		.content_block
			.content_photo: .photo_outer: .photo_inner
			.content_body
				.content_item
					.item_title Лекции и Уроки
					+lectures()
				.content_item
					.item_title
						span.desc_select.active О школе
						span.desc_sep= ' / '
						span.desc_select Книги
					.item_desc.active
						include about.jade
					.item_desc
						include books.jade
				.content_item
					.item_title Разное
					.item_others
						each other in new Array(6)
							.other
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed porro suscipit aliquid, sunt tempore possimus accusamus neque, enim dolore aliquam harum culpa magni commodi nostrum voluptatem ipsam ipsa officiis officia.