extends layout

block content_styles
	link(rel='stylesheet', type='text/css', href='css/main.css')

block content_scripts
	script(type='text/javascript', src='js/main.js')

block content
	.directions
		.d_item.one: a(href='direction.html') Historic & Patriotic
		.d_item.two: a(href='direction.html') Manege
		.d_item.three: a(href='direction.html') Rik
		.d_item.four: a(href='direction.html') Sidur
		.d_item.five: a(href='direction.html') Petia
		.d_item.six: a(href='direction.html') Vasia
		.d_item.seven: a(href='direction.html') Sereja

	.projects
		each list in new Array(5)
			.p_item.one: a(href='project.html') One project super
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four super project
			.p_item.five: a(href='project.html') Five super project
			.p_item.six: a(href='project.html') One project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three super project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five super project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three super project
			.p_item.six: a(href='project.html') One project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.one: a(href='project.html') One super project
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three super project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five super project
			.p_item.six: a(href='project.html') One project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three super project
			.p_item.four: a(href='project.html') Four super project
			.p_item.five: a(href='project.html') Five project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two super project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five super project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.six: a(href='project.html') One super project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three super project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five super project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.six: a(href='project.html') One project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four super super project
			.p_item.five: a(href='project.html') Five super super project
			.p_item.four: a(href='project.html') Four super project
			.p_item.five: a(href='project.html') Five project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four super project
			.p_item.five: a(href='project.html') Five super super project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five super super super project
			.p_item.six: a(href='project.html') One project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four super project
			.p_item.five: a(href='project.html') Five super project
			.p_item.four: a(href='project.html') Four super super project
			.p_item.five: a(href='project.html') Five super super project
			.p_item.four: a(href='project.html') Four super project
			.p_item.five: a(href='project.html') Five project
			.p_item.six: a(href='project.html') One project
			.p_item.seven: a(href='project.html') Two project
			.p_item.three: a(href='project.html') Three project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five super project
			.p_item.one: a(href='project.html') One project
			.p_item.two: a(href='project.html') Two super project
			.p_item.three: a(href='project.html') Three super project
			.p_item.four: a(href='project.html') Four project
			.p_item.five: a(href='project.html') Five project
