doctype html
html
	head
		title Color Finale - Color Grading for Everyone
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-3.4.1.min.js')
		script(type='text/javascript', src='js/main.js')
	body

		//- Up Block

		.up_block: .up_inner
			.menu_block
				a.logo(href='#main')
					img(src='img/cf_logo.png')
					span Color Finale
				a(href='#download') Download
				a(href='#buy') Buy
				a(href='#support') Support
				a(href='#about') About

			.locale_block
				a.active(href='#') en
				a(href='#') de
				a(href='#') fr
				a(href='#') es
				a(href='#') it

			.drop_block
				.drop(id='main')
					include pug/drops/main.pug
				.drop(id='download')
					include pug/drops/download.pug
				.drop(id='buy')
					include pug/drops/buy.pug
				.drop(id='support')
					include pug/drops/support.pug
				.drop(id='about')
					include pug/drops/about.pug

		//- Main Block

		.main_block
			.content_line

			.content_items
				.content_item(style='background-image: url(img/items/1.jpg)')
				.content_item(style='background-image: url(img/items/2.jpg)')
				.content_item(style='background-image: url(img/items/3.jpg)')
				.content_item(style='background-image: url(img/items/4.jpg)')
				.content_item(style='background-image: url(img/items/5.jpg)')
				.content_item(style='background-image: url(img/items/6.jpg)')

			.content_mask: .mask_inner
				.mask_item(data-href='#one')
				.mask_item(data-href='#two')
				.mask_item(data-href='#three')
				.mask_item(data-href='#four')
				.mask_item(data-href='#five')
				.mask_item(data-href='#six')

		.sections_block
			.section_item(id='one'): .section_inner
				.section_title One Title
				.section_s_title Good one second title
				.section_body
					include pug/sections/content.pug

			.section_item(id='two'): .section_inner
				.section_title Super Long Title
				.section_s_title Good long second title
				.section_body
					include pug/sections/content.pug

			.section_item(id='three'): .section_inner
				.section_title Short Title
				.section_s_title Good short second title
				.section_body
					include pug/sections/content.pug

			.section_item(id='four'): .section_inner
				.section_title No Title
				.section_s_title Good no second title
				.section_body
					include pug/sections/content.pug

			.section_item(id='five'): .section_inner
				.section_title Middle Title
				.section_s_title Good middle second title
				.section_body
					include pug/sections/content.pug

			.section_item(id='six'): .section_inner
				.section_title Zero Title
				.section_s_title Good zero second title
				.section_body
					include pug/sections/content.pug

		//- Down Block

		.down_block: .down_inner
			.title_block
			.copy_block!= '&copy; ColorTrix ' + new Date().getFullYear()

