doctype html
html
	head
		title SHALAPIN | SCREEN
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/swiper.jquery.min.js')
	body
		.content-block
			img.logo.main(src='img/design/logo.svg')
			img.logo.s1(src='img/design/s1.svg')
			img.logo.s2(src='img/design/s2.svg')

			a.menu.one(href='content/1.html')
				img.round(src='img/design/main/1.svg')
				img.numb(src='img/design/main/1_1.svg')
			a.menu.two(href='content/2.html')
				img.round(src='img/design/main/2.svg')
				img.numb(src='img/design/main/2_2.svg')
			a.menu.four(href='content/4.html')
				img.round(src='img/design/main/4.svg')
				img.numb(src='img/design/main/4_4.svg')
			a.menu.three(href='content/3.html')
				img.round(src='img/design/main/3.svg')
				img.numb(src='img/design/main/3_3.svg')