doctype html
html
	head
		title wassia kondrashov
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		button.cv cv
		.block
			.marquee: span 2016 / pokushal / privet wassia! privet wassia! privet wassia!
			img.image(src='img/1.jpg')