doctype html
html
	head
		title M A N E G E | M A K E T
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='stylesheet', type='text/css', href='css/global.css')
		block content_styles
		script(type='text/javascript', src='js/jquery-2.2.4.min.js')
		script(type='text/javascript', src='js/global.js')
		block content_scripts
	body
		.menu_block: .menu_inner
			a.logo.main(href='index.html'): img(src='img/logo/ru_w.svg')
			a.logo.dep(href='#'): img(src='img/logo/dep_red.svg')
			.menu.left
				a(href='#') ОБЪЕДИНЕНИЕ
				a(href='#') ПЛОЩАДКИ
				a(href='#') СОБЫТИЯ
				a(href='#') СПЕЦПРОЕКТЫ
				//- a(href='#') ПОДБОРКИ
				a(href='#') КОНТАКТЫ
			.menu.right
				a(href='#') ВХОД
				a(href='#') EN

		.content_block
			block content

		.footer_block: .footer_inner
			a(href='#') Музейно-выставочное объединение