extends layout

block content_styles
	link(rel='stylesheet', type='text/css', href='css/project.css')

block content_scripts
	script(type='text/javascript', src='js/project.js')

block content

	.column.left
		.project_images
			.image.x1
				img(src='img/projects/p1.jpg')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x2
				img(src='img/projects/p2.jpg')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x2
				img(src='img/projects/p3.jpg')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x1
				img(src='img/projects/p4.jpg')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x1
				img(src='img/projects/s1.png')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x2
				img(src='img/projects/s2.png')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x2
				img(src='img/projects/s3.png')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.image.x1
				img(src='img/projects/p5.jpg')
				.title: span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	.column.right
		.project_title
			span.num 32
			span.title Anthology of object. Alexander and Vladimir Martirisov

		.project_meta
			.meta_item
				.item_title: span Year
				.item_value: span 2017
			.meta_item
				.item_title: span Program
				.item_value: span Exhibition
			.meta_item
				.item_title: span Аrea
				.item_value: span 1 000 м2
			.meta_item
				.item_title: span Status
				.item_value: span Completed
			.meta_item
				.item_title: span Client
				.item_value: span Central Manege
			.meta_item
				.item_title: span Location
				.item_value: span Moscow, Manegnaya sq., 1
			.meta_item
				.item_title: span Team
				.item_value: span Name Name Name Name

		.project_description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.