extends layout

block content_styles
	link(rel='stylesheet', type='text/css', href='css/project.css')

block content_scripts
	script(type='text/javascript', src='js/project.js')

block content
	.project_title Anthology of object. Alexander and Vladimir Martirisov

	.project_body
		.project_meta
			.meta_item
				.item_title Year
				.item_value 2017
			.meta_item
				.item_title Program
				.item_value Exhibition
			.meta_item
				.item_title Status
				.item_value Completed
			.meta_item
				.item_title Client
				.item_value Central Manege
			.meta_item
				.item_title Location
				.item_value Moscow, Manegnaya sq., 1 Аrea: 1 000 м2
			.meta_item
				.item_title Team
				.item_value Name Name Name Name
		.project_description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

	.project_images
		img.x2(src='img/projects/1.jpg')
		img.x3(src='img/projects/2.jpg')
		img.x1(src='img/projects/3.jpg')
		img.x2(src='img/projects/4.jpg')
		img.x2(src='img/projects/1.jpg')
		img.x3(src='img/projects/2.jpg')
		img.x1(src='img/projects/3.jpg')
		img.x2(src='img/projects/4.jpg')
		img.x2(src='img/projects/1.jpg')
		img.x3(src='img/projects/2.jpg')
		img.x1(src='img/projects/3.jpg')
		img.x2(src='img/projects/4.jpg')