.d_col
	.d_title About us:

	.d_text
		p We consider design done when it’s better than anything we’ve ever seen. We made planting Easter eggs into art. We’re software madmen in the best possible meaning of the term: obsessive, whimsical, and really keen on animations.
		p There are two kinds of people: those who feel responsible for the quality of their work and those who couldn’t care less. We don’t invite the latter to MacPaw and everyone agrees it’s a fine arrangement.
		p The only ultimate goal of our every keystroke is a person on the other end of the app, completing their tasks with its help and going “I LIKE THIS. A LOT.”
		p Ask for help and help when asked. We agreed to treat each other as family and we mean every ounce of it. Nothing at MacPaw is someone else’s problem.

.d_col
	.d_title Follow us:

	.d_section
		a.d_social(href='#'): img(src='img/social/twitter.svg')
		a.d_social(href='#'): img.wo(src='img/social/facebook.svg')
		a.d_social(href='#'): img.wo(src='img/social/instagram.svg')
		a.d_social(href='#'): img(src='img/social/youtube.svg')
		//- a.d_social(href='#'): img(src='img/social/telegram2.svg')
		//- a.d_social(href='#'): img(src='img/social/vk.svg')