.d_col
	.d_title Check this things before ask the question:

	.d_link
		a(href='#') License Manager
		span= ' - Check or retrive your license'
	.d_link
		a(href='#') FAQ
		span= ' - Common questions'
	.d_link
		a(href='#') Manual
		span= ' - Complete Color Finale guide book'

.d_col
	.d_title Email us:

	a(href='mailto:support@colorfinale.com') support@colorfinale.com