extends layout


block content
	.swiper-container.swiper-container-h
		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white
		.swiper-wrapper
			.swiper-slide(style='background-image: url(../img/povar/1.jpg)')
			.swiper-slide(style='background-image: url(../img/povar/2.jpg)')