extends layout

block styles
	link(rel='stylesheet', type='text/css', href='../css/swiper.min.css')

block scripts
	script(type='text/javascript', src='../js/swiper.jquery.min.js')
	script(type='text/javascript', src='../js/slider.js')

block content
	.swiper-container.swiper-container-h
		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white
		.swiper-wrapper
			.swiper-slide(style='background-image: url(../img/letter/1.jpg)')