extends layout


block content
	.swiper-container.swiper-container-h
		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white
		.swiper-wrapper
			.swiper-slide(style='background-image: url(../img/tetrad/1.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/2.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/3.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/4.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/5.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/6.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/7.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/8.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/9.jpg)')
			.swiper-slide(style='background-image: url(../img/tetrad/10.jpg)')