extends layout

block scripts
	script(type='text/javascript', src='../js/video.js')

block content
	video(autoplay=true, loop=false, muted=false, controls=false)
		source(src='../video/1.mp4', type='video/mp4')