body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

header {
    padding: 15px;
}

footer {
    padding: 20px 15px 40px 15px; 
}

a {
    color: #f70;
    text-decoration: none;
}

#home { 
    background: url("images/home.jpg") 50% 0 repeat fixed;
    height: 1000px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.8); 
}
 
#about { 
    background: url("images/about.jpg") 50% 0 repeat fixed;
    height: 1000px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.8);
    box-shadow: 0 0 5px rgba(0,0,0,0.8); 
}

#more { 
    background: url("images/more.jpg") 50% 0 repeat fixed;
    height: 1000px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative;
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.8);
    box-shadow: 0 0 1px rgba(0,0,0,0.8);
}

.content {
    height: 450px; 
    position: absolute;
    top: 550px; 
    width: 100%;
    background-color: #fff;
}

.content div {
    padding: 20px;
}

.negative {
    background-color: #111;
    color: #fff;
}


