.content_block {
	margin-top: 15px;
}

.content_block input[type=text], .input_title, .check_spam {
	display: block;
	width: 400px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	font: 12pt/14pt 'Pragmatica'
}

.content_block input[type=submit] {
	width: 150px;
	font: 12pt/14pt 'Pragmatica';
	margin: 25px auto;
	display: block;
}