- var words = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis qui, eos vero cumque sit officiis temporibus tenetur distinctio nulla architecto, dolorum voluptate impedit vitae perspiciatis deserunt dicta id odit consectetur.'

doctype html
html
	head
		meta(charset='utf-8')
		title D D : A | D
		link(rel='stylesheet', href='styles/main.css')
		script(type='text/javascript', src='js/jquery-2.2.3.min.js')
		script(type='text/javascript', src='js/ramjet.js')
		//- script(type='text/javascript', src='js/freewall.js')
		script(type='text/javascript', src='js/masonry.pkgd.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		.content_block
			.content_column.left
				.menu_block
					.menu_left
						a(href='#') Works
						a(href='#') About
						a(href='#') Search
					.logo
						.section D
							span evelopment
						.section D
							span epartment
						.spacer :
						.section A
							span rchitecture
						.spacer |
						.section D
							span esign
				.title_block Очень длинный и очень красивый проект
				.text_block
					!= words.split(' ').map(function(word) { return '<span>' + word + '</span>' }).join(' ')
				.drop_list_block
					.drop_item
						.drop_title PLACE
						.drop_desc lalala lalal lalalal
						.drop_down  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde vitae iure, maiores explicabo perferendis debitis facilis quos ipsum placeat rem repellendus atque sequi blanditiis tenetur recusandae, vero qui quisquam quasi.
					.drop_item
						.drop_title STATUS
						.drop_desc lalala lalal lalalal
						.drop_down  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi nihil sed, aliquam eum atque est maiores ad ullam voluptatibus! Velit quis aspernatur amet consectetur qui cum quam atque quo delectus.
					.drop_item.map
						.drop_title LOCATION
						.drop_desc lalala lalal lalalal
						.drop_down  map map map
			.content_column.right
				.images_block
					.brick(style='background-image: url(img/1.jpg);'): .numb 21
					.brick.double(style='background-image: url(img/2.jpg);'): .numb 24
					.brick(style='background-image: url(img/3.jpg);'): .numb 62
					.brick.double(style='background-image: url(img/4.jpg);'): .numb 59
					.brick(style='background-image: url(img/5.jpg);'): .numb 87
					.brick(style='background-image: url(img/6.jpg);'): .numb 27
					.brick(style='background-image: url(img/7.jpg);'): .numb 12
				.projects_block
					.project(style='background-image: url(img/3.jpg);')
					.project(style='background-image: url(img/4.jpg);')
					.project(style='background-image: url(img/5.jpg);')
					.project(style='background-image: url(img/6.jpg);')
					.project(style='background-image: url(img/7.jpg);')