.tiles_cont {
	width: 600px;
	height: 600px;
	overflow: hidden;
	/*border: 2px solid red;*/
}

.wrap {
	width: 160%;
	overflow: hidden;
	cursor: move;
}

.tile {
	display: block;
	float: left;
	width: 25%;
	opacity: 0;

	-webkit-transition: opacity 150ms;
	-moz-transition: opacity 150ms;
	-ms-transition: opacity 150ms;
	transition: opacity 150ms;
}

.tile.loaded {
	opacity: 1;
}

.tile:nth-child(4n+1) {
	clear: both;
}

.zoom_block {
	overflow: hidden;
	margin-bottom: 10px;
}

.zoom {
	float: left;
	margin-right: 10px;
	cursor: pointer;
}