body {
  margin: 0;
  padding: 0;
}
.menu_block {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  color: #000;
}
.menu_block .menu_left {
  float: left;
  margin-right: 10px;
  font: 14pt/16pt 'Helvetica';
}
.menu_block .menu_left a {
  color: #000;
  text-decoration: none;
  display: block;
}
.menu_block .menu_left a:hover {
  text-decoration: underline;
}
.menu_block .logo .section,
.menu_block .logo .spacer {
  font: 58pt/48pt 'Helvetica';
  display: inline-block;
}
.menu_block .logo .section span {
  display: inline-block;
  max-width: 0px;
  overflow: hidden;
  -webkit-transition: max-width 0.5s ease;
  transition: max-width 0.5s ease;
}
.menu_block .logo .section:hover span {
  -webkit-transition: max-width 0.5s ease;
  transition: max-width 0.5s ease;
  max-width: 500px;
}
.menu_block .logo .section,
.menu_block .logo .section span,
.menu_block .logo .spacer {
  cursor: default;
}
.menu_block .logo .section:hover,
.menu_block .logo .section:hover span {
  text-decoration: underline;
}
.content_block {
  overflow: hidden;
}
.content_block .content_column {
  width: 50%;
  float: left;
}
.title_block {
  padding: 20px;
  font: 6vw/7vw 'Helvetica';
}
.text_block {
  margin: 0 auto;
  padding: 20px;
  font: 18pt/20pt 'Helvetica';
}
.text_block span {
  text-decoration: underline;
}
.drop_list_block {
  max-width: 620px;
  margin: 0 auto;
  padding: 20px;
}
.drop_list_block .drop_item {
  border-top: 1px solid #000;
  overflow: hidden;
  padding: 5px;
  width: 100%;
  font: 12pt/14pt 'Helvetica';
  cursor: pointer;
  position: relative;
}
.drop_list_block .drop_item:last-child {
  border-bottom: 1px solid #000;
}
.drop_list_block .drop_item.map .drop_down {
  margin: 0;
  max-width: none;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f00;
}
.drop_list_block .drop_item.open .drop_down {
  display: block;
  position: relative;
}
.drop_list_block .drop_item .drop_title {
  min-width: 120px;
  display: block;
  float: left;
}
.drop_list_block .drop_item .drop_desc {
  max-width: 220px;
  float: left;
  margin-left: 40px;
}
.drop_list_block .drop_item .drop_down {
  display: none;
  margin-top: 30px;
  clear: both;
  max-width: 520px;
  margin-left: 160px;
}
.drop_list_block .drop_item:after {
  display: block;
  position: absolute;
  top: 6px;
  right: 5px;
  content: '▼';
  font-size: 8pt;
}
.images_block {
  max-width: 980px;
  margin: 0 auto;
}
.images_block .images_inner {
  width: 100%;
}
.brick {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 230px;
}
.brick.double {
  width: 600px;
  height: 530px;
}
.projects_block {
  width: 100%;
  background-color: #000;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
}
.projects_block .project {
  width: 180px;
  height: 140px;
  margin-bottom: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
