&.contacts
	padding-top 40px
	.content-inner
		height 0
		position relative
		z-index 999
		.content-title
			span
				background-color main-color
				color white
			&:hover span
				background-color white
				color main-color