&.main
	background-color transparent
	.logo
		top 0
		left 0
		right 0
		bottom 0
		margin auto
		width 60%
		display block
		position absolute
		z-index 1
	.content-partners
		position absolute
		bottom 0
		right 0
		overflow hidden
		a
			float left
		a span
			width 60px
			height 60px
			display block
			background-position center
			background-size contain
			background-repeat no-repeat
		.mkrf
			display block
			background-color white
			span
				background-size 80%
		.cult_mos
			background-color red
		.manege
			background-color black
			span
				background-size 80%