body
	margin 0
	padding 0
	background-color black

.outer_block
	width 100%
	overflow hidden
	margin 120px auto
	background-color black
	.flip_block
		float left
		background-color black
		width (@width / 6)
		img
			width 100%

.buttons_block
	.play
		width 60px
	button
		font-size 12pt
	.spacer
		margin-left 10px
		margin-right 10px
		color white
		display inline-block