body {
  margin: 0;
  padding: 0;
}
.outer_block {
  width: 1380px;
  margin: 0 auto;
  padding: 30px;
}
.navigate_block {
  position: relative;
}
.navigate_block .nav {
  position: absolute;
  top: 50px;
}
.navigate_block .nav.next {
  right: 0;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #986727;
}
.navigate_block .nav.next:hover {
  border-left: 30px solid #000;
}
.navigate_block .nav.prev {
  left: 0;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #986727;
}
.navigate_block .nav.prev:hover {
  border-right: 30px solid #000;
}
.carousel.ordens {
  width: 1047px;
  height: 162px;
  margin: 0 auto;
}
.carousel.persons {
  width: 1200px;
  height: 380px;
  margin: 0 auto;
}
.orden {
  width: 160px;
  height: 160px;
  background-position: center !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  border: 1px solid #000;
  margin-right: 15px;
}
.orden.ui-draggable-dragging {
  border: none;
}
.person {
  width: 245px;
  height: 380px;
  background-size: 100% auto !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  transition: background-size 0.3s linear;
  margin-right: -60px;
}
.person.activate {
  background-size: 80% auto !important;
  opacity: 0.6 !important;
}
.person.hover,
.person.active {
  opacity: 1 !important;
  background-size: 100% !important;
  transition: background-size 0.3s linear;
}
