body {
  margin: 0;
  padding: 0;
  background-color: #000;
}
.outer_block {
  width: 100%;
  overflow: hidden;
  margin: 120px auto;
  background-color: #000;
}
.outer_block .flip_block {
  float: left;
  background-color: #000;
  width: 16.666666666666668%;
}
.outer_block .flip_block img {
  width: 100%;
}
.buttons_block .play {
  width: 60px;
}
.buttons_block button {
  font-size: 12pt;
}
.buttons_block .spacer {
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  display: inline-block;
}
