@font-face {
	font-family: 'NevaC';
	src: url('../fonts/NevaC.otf');
}

// @font-face {
// 	font-family: 'GillSans';
// 	src: url('/fonts/GillSansC.otf');
// }

// @font-face {
// 	font-family: 'GillSansLight';
// 	src: url('/fonts/GillSansLightC.otf');
// }

html, body, .outer_block
	height 100%

body
	margin 0
	padding 0

.outer_block
	width 100%
	// height 1080px
	// min-width 1380px
	min-width 1860px
	min-height 1080px
	// outline 1px solid red
	position relative

.block_ordens
	// outline 1px solid red
	width 1270px
	position absolute
	left 50%
	margin-left -635px
	top 40px

.block_persons
	width 100%
	position absolute
	bottom 0
	// outline 1px solid red

.compare_block
	top 250px
	width 100%
	position absolute
	display none
	.compare_reuslts
		// border 1px solid red
		margin 0 auto
		width 1047px
		height 260px
		font 12pt/14pt 'NevaC'

.navigate_block
	position relative
	z-index 999
	.nav
		position absolute
		top 50px
		&.next
			right 40px
			width 0
			height 0
			border-top 30px solid transparent
			border-bottom 30px solid transparent
			border-left 30px solid #986727
			&:hover
				border-left 30px solid black
		&.prev
			left 40px
			width 0
			height 0
			border-top 30px solid transparent
			border-bottom 30px solid transparent
			border-right 30px solid #986727
			&:hover
				border-right 30px solid black

.carousel
	// outline 1px solid red
	&.ordens
		width 1047px
		height 162px
		margin 0 auto
	&.persons
		width 100%
		height 550px
		margin 0 auto

.orden
	width 160px
	height 160px
	background-position center!important
	background-size contain!important
	background-repeat no-repeat!important
	border 1px solid black
	margin-right 15px
	&.ui-draggable-dragging
		border none

.person
	width 395px
	height 550px
	background-size 100% auto!important
	background-position bottom!important
	background-repeat no-repeat!important
	transition background-size .3s linear
	margin-right -80px
	&.activate
	&.no_active
		background-size 80% auto!important
		opacity 0.6!important
	&.hover
	&.active
		opacity 1!important
		background-size 100%!important
		transition background-size .3s linear
	.person_name
		display none
		width 395px
		text-align center
		position absolute
		font 14pt/16pt 'NevaC'