@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {

	.menu_inner {
		padding-top 5px!important
		padding-bottom 0px!important
		padding-left 10px!important
		padding-right 10px!important
	}
	.logo, .search_input {
		font 18pt/20pt 'Georgia'!important
	}
	.menu_right {
		margin-top 0px!important
	}
	.content_item {
		padding-top 20px!important
	}
	.item_title {
		font 18pt/20pt 'Georgia'!important
		margin-bottom 20px!important
	}

	.photo_inner {
		height 300px!important
	}

	.content_body {
		top 300px!important
		padding-left 10px!important
		padding-right 10px!important
	}

	.item_lectures {
		height 245px!important
		margin-left -10px!important
		margin-right -10px!important
	}
	.lectures_outer {
		overflow-x scroll!important
		height 245px!important
	}
	.lecture {
		width 180px!important
		height 200px!important
		margin-right 0px!important
		margin-left 30px!important
	}
	.lecture_numb {
		width 180px!important
		height 180px!important
		font 240pt/110pt 'Georgia'!important
	}
	.lecture:first-child {
		margin-left 10px!important
	}
	.lecture:last-child {
		margin-right 10px!important
	}

	.item_desc img {
		margin-top 10px!important
		margin-bottom 10px!important
	}

}